.posts-container {
    position: relative;
    margin: 1em auto;
}

.content, .post {
    height: auto;
    max-width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 17px;
    margin-bottom: 1em;
}

.post {
    background-color: #ffffff8c;
    padding: 1.5em 0;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
}

#post-title {
    text-align: center;    
    margin-bottom: 1em;
}

img {
    height: auto;
    max-width: 100%;
    margin: auto;
}

#link-container{
    text-align: center;
}

a:hover {
    color: tomato;
    text-decoration: none;
}


img {
    max-width: 500px;
  }
 
  #post-title {
    color: tomato;
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    
  }
