.posts-container {
    position: relative;
    margin: 1em auto;
}

.content, .post, #post-author{
    height: auto;
    max-width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 17px;
    margin-bottom: 1em;
}

#post-author{ 
    color: lightseagreen;

}
#post-author:hover {
    color: rgb(18, 92, 88);
    cursor: pointer;
}

.post {
    background-color: #ffffff8c;
    padding: 1.5em 0;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
}

#post-title {
    text-align: center;    
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 200;
}

img {
    height: auto;
    max-width: 100%;
    margin: auto;
}

#link-container{
    text-align: center;
}

a:hover {
    color: tomato;
    text-decoration: none;

}

  #post-title {
    color: tomato;
    font-family: "Lato";
    font-size: 2em;
    font-weight: 300;
    
  }

 .reaction {
      display: inline;
      color: tomato;
      font-size: 15px;
      margin: 0 0.3em;
      width: 40px;
      height: 20px;
      font-size: 15px;
      background: transparent;
      border: none;
    
  }

  a{
      color: lightseagreen;
  }

  a:hover {
    color: rgb(83, 95, 94);
}

#hiden{
    display: none;
}
    
a:hover + #hiden,
a:hover + #hiden,
a:active + #hiden {
    display: block;
}

#hiden:hover,
#hiden:active {
    display: block;
}

#del-bitton-container {
    margin: 0;
    margin-left: auto;
}

