.user-container {
    position: absolute;
}

@media only screen and (max-width: 1500px) {
    .user-container {
        position: relative;
        margin: auto;
    }
}

.user {
    text-align: center;
}

h4 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1em;
}

.user-img {
    background: gray;
    width: 150px;
    height: 150px;
    border-radius: 50% 50%;
    margin-bottom: 1em;
    text-align: center;
}

.user-container {
    text-align: center;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
}

.user {
    border: none;
}

.fileContainer {
    box-shadow: none;
}

h6 {
    color: royalblue;
}