.container-lr {
    margin: 3em 4em;
    text-align: justify;
}

.user {
    text-align: center;
    margin: 0 1em;
    padding: 1em;
    height: 40%;
    box-shadow: 0 2px 4px 0 rgba(223, 216, 216, 0.2), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
    background-color: darkgray;
}

h4 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1em;
}

.user-img {
    background: gray;
    width: 200px;
    border-radius: 50% 50%;
    margin-bottom: 1em;
    text-align: center;
}

.posts-container {
    position: relative;
    background-color: darkgray;
    display: grid;
    width: 80%;
    padding: 1em;
    box-shadow: 0 2px 4px 0 rgba(223, 216, 216, 0.2), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
}

.editor {
    width: 70%;
    margin: 1em auto;
    box-shadow: 0 2px 4px 0 rgba(223, 216, 216, 0.2), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
    padding: 1em;
}

hr {
    background-color: tomato;
}