.nav_menu {
    position: relative;
    padding: 0.05rem 1rem;
    border: .2rem solid #ececec;
    border-radius: 8px;
    margin-right: 0;
    margin-left: 0;
    color: black;
    overflow: hidden;
    background-color: slateblue;
}

.nav_item, .nav-link {
    color: #17a2b8;
    text-decoration: none;
    background-color: transparent;
    margin: 0 1em;
}

.nav-link:hover {
    color: #71b4be;
    text-decoration: none;
}

.avatar {
    max-width: 80px;
    height: 80px;
    ;
    border-radius: 50% 50%;
    margin: 0 0.5em;
    padding: 0;
}

#logo {
    max-width: 80px;
    border-radius: 50% 50%;
}

hr {
    color: slateblue;
}

#collasible-nav-dropdown {
    color: #17a2b8 !important;
    background-color: transparent;
    border: solid 0.01em #17a2b8;
}

#collasible-nav-dropdown:hover {
    border: none;
}

#logout-container {
    text-align: center;
    margin: 0.5em 0;
}

#logout-button {
    color: tomato;
    background-color: transparent;
    border-color: tomato;
}

#logout-button:hover {
    color: white;
    background-color: tomato;
    border: none;
}

#dropDown {
    float: right;
}

.logo-container {
    max-width: 100px;
    margin: 0 1em;
}

.link:hover {
    cursor: pointer;
    color: tomato;
}