.nav_menu {
    position: relative;
    padding: 0.05rem 1rem;
    border: .2rem solid #ececec;
    border-radius: 8px;
    margin-right: 0;
    margin-left: 0;
    color: black;
    overflow: hidden;
    background-color: slateblue;
}

.nav_item, .nav-link {
    color: #17a2b8;
    text-decoration: none;
    background-color: transparent;
    margin: 0 1em;
}

.nav-link:hover {
    color: #71b4be;
    text-decoration: none;
}

.avatar {
    max-width: 80px;
    height: 80px;
    
    border-radius: 50% 50%;
    margin: 0 0.5em;
    padding: 0;
}

#logo {
    background: linear-gradient(to right, #2b1de8, #0099ff, #1ddde8, #6666ff, #6666ff, #00ff00, #1de840, #ff2400, #e81d1d, #ff3399, #dd00f3, #dd00f3, #e8b71d, #e3e81d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 25s ease-in-out infinite;
    background-size: 400% 100%;
    font-size: 30px;
    font-family:  'Comfortaa', cursive;;
    letter-spacing: 2px;
}

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

#logo:hover{
    color: lightseagreen;
}

#collasible-nav-dropdown {
    color: #17a2b8 !important;
    background-color: transparent;
    border: solid 0.01em #17a2b8;
}

#collasible-nav-dropdown:hover {
    border: none;
}

#logout-container {
    text-align: center;
    margin: 0.5em 0;
}

#logout-button {
    color: tomato;
    background-color: transparent;
    border-color: tomato;
}

#logout-button:hover {
    color: white;
    background-color: tomato;
    border: none;
}

#dropDown {
    float: right;
}

.logo-container {
    max-width: 100px;
    margin: 0 1em;
}

.link:hover {
    cursor: pointer;
    color: tomato;
}
