@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .btn:hover,  .btn-info:hover,  .btn-block:hover,
  .btn:focus,  .btn-info:focus,  .btn-block:focus {
    box-shadow: inset 20em 0 0 0 tomato;
    transition: 0.50s;
    border-color: tomato;
  }