.container-sm {
margin: 3em auto;;
}

.editor-container {
    position: relative;
    margin: 1em auto;
}

#post-button{
    width: 25%;
    margin: 1em auto;
}

input {
    width: 100%;
    padding: 0.5em;
}

#post-button {
    color: royalblue;
    border-color: royalblue;
}

#post-button:hover {
    background-color: royalblue;
    color: white
}